body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("/public/bg.png") center center fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  padding: 20px;
  background: #f0f2f5;
  border-radius: 8px;
}

.owner-container {
  padding: 20px;
}
.ant-table-thead > tr > th {
  background-color: #f5f5f5;
}

.ant-modal-footer {
  display: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.pink-button {
  background-color: #ff69b4;
  border-color: #ff69b4;
  color: white;
}

.pink-button:hover {
  background-color: #ff85c1;
  border-color: #ff85c1;
}

.box {
  display: flex;
  width: 900px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-section {
  width: 50%;
  padding: 40px;
  background: #fff;
}

.image-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #c874b1, #ff9a9e);
  color: #fff;
  padding: 40px;
  text-align: center;
}

.image-section h2 {
  margin-bottom: 20px;
}

.image-section p {
  margin-bottom: 20px;
}

.image-section img {
  max-width: 100%;
  border-radius: 10px;
}

.image-section .button {
  background: #fff;
  color: #ff6b6b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.image-section .button:hover {
  background: #ede1e8;
  color: #fa44bb;
}

.pink-button {
  background: #ed77b2;
  border-color: #e1a4c0;
  color: #fff;
  width: 100%;
}

.pink-button:hover {
  background: #f0a3a3;
  border-color: #ff4e4e;
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-input::placeholder,
.ant-input-password input::placeholder,
.ant-select-selection-placeholder {
  color: #bbb;
  font-size: 16px;
}

.ant-select-selector {
  background-color: #fff !important;
  color: #333 !important;
}

.ant-checkbox-wrapper .ant-checkbox {
  margin-right: 8px;
}

/* Styles for dashboard layout */
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.dashboard-header {
  background-color: #6492dd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-left h2 {
  margin: 0;
}

.header-icon {
  width: 100px; /* Adjusted size */
  height: 100px; /* Adjusted size */
  margin-right: 10px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.logout-icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.dashboard-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #ff69b4; /* Pink tone */
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72px); /* Adjusted for header height */
}

.sidebar button {
  background-color: #eee6eb; /* Lighter pink tone */
  border: none;
  color: rgb(139, 3, 87);
  padding: 15px;
  margin: 10px 0;
  text-align: left;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.sidebar button:hover {
  background-color: #dfd0d6; /* Darker pink tone */
}

.sidebar-icon {
  margin-right: 10px;
  width: 52px;
  height: 52px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
  width: calc(100% - 250px);
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .dashboard-content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    height: auto; /* Reset height for mobile view */
  }

  .sidebar button {
    flex: 1;
    margin: 5px;
  }

  .content {
    flex: 1;
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }
}

/* Styles for logout modal */
.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logout-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logout-modal h3 {
  margin-top: 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background: #ccc;
}

.modal-buttons button:last-child {
  background: #ff4e4e;
  color: white;
}
.action-buttons {
  display: flex;
  gap: 8px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.form-title {
  text-align: center;
  color: #ff69b4;
  font-size: 28px;
  margin-bottom: 20px;
}

.ant-input,
.ant-picker,
.ant-btn {
  height: 50px;
  font-size: 16px;
}
.ant-form-item-label > label {
  font-size: 16px;
}
.ant-picker-range {
  width: 100%;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.forgot-password-box {
  background-color: white;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.forgot-password-title {
  text-align: center;
  color: #ff69b4;
  font-size: 32px;
  margin-bottom: 20px;
}

.forgot-password-item {
  width: 320px;
  margin-bottom: 30px;
}

.forgot-password-input,
.forgot-password-button {
  height: 50px;
  font-size: 16px;
}

.forgot-password-button {
  background-color: #ff69b4;
  border-color: #ff69b4;
  color: white;
  width: 100%;
  font-size: 18px;
}

.forgot-password-button:hover {
  background-color: #ff85c1;
  border-color: #ff85c1;
}

.forgot-password-input::placeholder {
  color: #bbb;
}

.forgot-password-label > label {
  font-size: 16px;
}

.forgot-password-link {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 15px;
}

.forgot-password-link:hover {
  color: #ff85c1;
  text-decoration: underline;
}

.google-login-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.google-login-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ff69b4; /* Màu viền */
  border-radius: 5px;
  background-color: white;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  height: 50px;
  justify-content: center;
}

.google-login-button:hover {
  background-color: #f5f5f5;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
}

.signup-link a {
  color: #ff69b4;
  text-decoration: none;
}

.info-management-container {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.button-container {
  margin-bottom: 32px;
}

.info-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.ant-form-item-label > label {
  font-size: 18px;
}

.ant-input,
.ant-picker {
  font-size: 16px;
}

.ant-input-group-compact > * {
  width: 50%;
}

.ant-btn {
  display: block;
  margin: 0 auto;
}

.owner-container1 {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.date-container {
  margin-bottom: 32px;
}

.status-card {
  cursor: pointer;
  text-align: center;
  background-color: #ff69b4;
  color: #fff;
  padding: 16px;
  border-radius: 10px;
}

.status-title {
  font-size: 16px;
  font-weight: bold;
}

.status-count {
  font-size: 16px;
  display: block;
  margin-top: 8px;
  color: #fff;
}

.confirm-button {
  background-color: #ff69b4;
  border-color: #ff69b4;
  color: #fff;
}

.confirm-button:hover,
.confirm-button:focus {
  background-color: #ff4c91;
  border-color: #ff4c91;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
}
